/* =Reset default browser CSS. Based on work by Eric Meyer: http://meyerweb.com/eric/tools/css/reset/index.html
-------------------------------------------------------------- */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  background: transparent;
  border: 0;
  margin: 0;
  padding: 0;
  vertical-align: baseline; }

body {
  line-height: 1; }

h1, h2, h3, h4, h5, h6 {
  clear: both;
  font-weight: normal; }

ol, ul {
  list-style: none; }

blockquote {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

del {
  text-decoration: line-through; }

/* tables still need 'cellspacing="0"' in the markup */
table {
  border-collapse: collapse;
  border-spacing: 0; }

a img {
  border: none; }

/* =Scss Variables
-------------------------------------------------------------- */
/* =Global
-------------------------------------------------------------- */
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  background-color: black;
  color: #E9E2BF;
  text-shadow: 2px 2px 3px black;
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.8; }

/* Headings */
h1, h2, h3, h4, h5, h6 {
  line-height: 1;
  font-weight: 300; }

a {
  text-decoration: none;
  color: #3cb5f9; }

a:hover {
  color: #0793e2; }

/* =Template
-------------------------------------------------------------- */
#wrapper {
  width: 100%;
  margin: 0 auto; }

#main {
  background: -moz-linear-gradient(top, transparent 1px, #111111 600px, #232323 900px, #161616 99%);
  background: -webkit-linear-gradient(top, transparent 1px, #111111 600px, #232323 900px, #161616 99%);
  background: linear-gradient(to bottom, transparent 1px, #111111 600px, #232323 900px, #161616 99%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#161616',GradientType=0 );
  padding-top: 150px;
  min-height: 700px; }

.container {
  width: 80%;
  margin: 0 auto; }

section {
  padding: 20px 0; }

section h1, h2 {
  font-weight: 700;
  margin-bottom: 30px; }

section h2 {
  font-weight: 300;
  margin-bottom: 20px; }

section p {
  margin-bottom: 10px; }

section p:last-child {
  margin-bottom: 0; }

section.color {
  background-color: #3cb5f9;
  color: white; }

/* =Info Bar
-------------------------------------------------------------- */
#info-bar {
  background-color: #3cb5f9; }

#info-bar a {
  color: white;
  font-size: 14px;
  text-transform: uppercase;
  display: inline-block;
  margin: 0;
  padding: 10px; }

#info-bar a:hover {
  background-color: #0793e2; }

#info-bar span.all-tutorials,
#info-bar span.back-to-tutorial {
  display: block;
  width: 50%; }

#info-bar span.all-tutorials {
  float: left;
  text-align: left; }

#info-bar span.back-to-tutorial {
  float: right;
  text-align: right; }

/* =Header
-------------------------------------------------------------- */
header {
  width: 100%;
  height: 100px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  background-color: RGBa(0, 0, 0, 0.5);
  -webkit-transition: height 0.3s;
  -moz-transition: height 0.3s;
  -ms-transition: height 0.3s;
  -o-transition: height 0.3s;
  transition: height 0.3s;
  border-bottom: 3px solid red; }

header h1#logo {
  display: inline-block;
  height: 50px;
  line-height: 100px;
  float: left;
  font-family: "Oswald", sans-serif;
  font-size: 50px;
  color: white;
  font-weight: 400;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s; }
  header h1#logo span {
    color: red;
    font-size: 60px;
    font-style: italic;
    font-family: "Black Ops One"; }
  header h1#logo a {
    color: white; }
  header h1#logo a:hover {
    color: white;
    text-decoration: none; }

header nav {
  display: inline-block;
  float: right; }

header nav a {
  line-height: 100px;
  margin-left: 20px;
  color: #E9E2BF;
  font-weight: 700;
  font-size: 18px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s; }

header nav a:hover {
  color: white; }

header.smaller {
  height: 75px; }

header.smaller h1#logo {
  width: 150px;
  height: 75px;
  line-height: 75px;
  font-size: 30px; }
  header.smaller h1#logo span {
    font-size: 30px; }

header.smaller nav a {
  line-height: 75px; }

/* =Extras
-------------------------------------------------------------- */
.clearfix:after {
  visibility: hidden;
  display: block;
  content: "";
  clear: both;
  height: 0; }

/* =Media Queries
-------------------------------------------------------------- */
@media all and (max-width: 1150px) {
  /* =Header
  -------------------------------------------------------------- */
  header {
    height: 120px; }
  header h1#logo {
    display: block;
    float: none;
    margin: 0 auto;
    height: 50px;
    line-height: 100px;
    text-align: center; }
  header nav {
    display: block;
    float: none;
    height: 50px;
    text-align: center;
    margin: 0 auto; }
  header nav a {
    line-height: 100px;
    margin: 0 10px; }
  header.smaller {
    height: 75px; }
  header.smaller h1#logo {
    width: 100%;
    text-align: center;
    height: 40px;
    line-height: 40px;
    font-size: 30px; }
  header.smaller nav {
    height: 35px; }
  header.smaller nav a {
    line-height: 35px; } }

@media all and (max-width: 600px) {
  .container {
    width: 100%; }
  #info-bar a {
    display: block; }
  #info-bar span.all-tutorials,
  #info-bar span.back-to-tutorial {
    width: 100%; }
  #info-bar span.all-tutorials,
  #info-bar span.back-to-tutorial {
    float: none;
    text-align: center; }
  #info-bar span.all-tutorials {
    border-bottom: solid 1px #0793e2; } }

span.glyphiconInfo {
  font-size: 15px; }

span.glyphiconInfo:hover {
  font-size: 25px; }

.exampleCard {
  height: 200px;
  width: auto;
  display: block;
  margin: auto; }

.cards {
  border: 5px solid;
  box-shadow: 3px -2px 5px 2px black;
  position: relative;
  margin: 10px;
  margin-bottom: -200px;
  width: 200px;
  height: 350px;
  padding: 5px 15px;
  transition-timing-function: ease;
  text-shadow: 0px 0px 2px white; }
  .cards .imgContainer {
    height: 120px;
    width: 100%;
    background-size: cover;
    background-position: center center; }
  .cards .tankDescription {
    height: 155px;
    overflow: fade(5%);
    overflow: hidden; }
    .cards .tankDescription p {
      text-align: justify;
      text-justify: inter-word;
      font-size: 12px; }

#infoModal .modal-content {
  background: #4c4c4c;
  background: -moz-linear-gradient(top, #4c4c4c 0%, #595959 12%, #666666 25%, #474747 39%, #2c2c2c 50%, black 51%, #111111 60%, #2b2b2b 76%, #1c1c1c 91%, #131313 100%);
  background: -webkit-linear-gradient(top, #4c4c4c 0%, #595959 12%, #666666 25%, #474747 39%, #2c2c2c 50%, black 51%, #111111 60%, #2b2b2b 76%, #1c1c1c 91%, #131313 100%);
  background: linear-gradient(to bottom, #4c4c4c 0%, #595959 12%, #666666 25%, #474747 39%, #2c2c2c 50%, black 51%, #111111 60%, #2b2b2b 76%, #1c1c1c 91%, #131313 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#131313',GradientType=0 ); }

.multiline-ellipsis {
  display: block;
  display: -webkit-box;
  max-width: 400px;
  height: 109.2px;
  margin: 0 auto;
  font-size: 26px;
  line-height: 1.4;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis; }

.cards {
  transition-property: transform;
  transition-duration: .2s;
  transition-timing-function: ease-in; }

.cards:hover {
  transform: translateY(-65px); }

.tradingPark {
  padding-bottom: 300px; }

#backgroundTank {
  background-image: url("../img/background.jpg");
  background-repeat: no-repeat;
  min-height: 700px; }

.rowsOfCards {
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: left; }

input {
  color: black;
  width: 100%; }

@media all and (max-width: 800px) {
  .rowsOfCards {
    justify-content: center; } }

.signInPopUp {
  text-shadow: 1px 1px 3px gray;
  border-radius: 5px;
  background-color: RGBa(0, 0, 0, 0.5);
  padding: 10px 20px;
  border: 3px solid red; }
  .signInPopUp .control-group {
    padding: 10px; }

.logInDropdownButton {
  background-color: transparent;
  border: transparent; }
  .logInDropdownButton .logInDropdown {
    background-color: transparent; }

.dropdown-menu {
  position: absolute;
  top: 100px;
  left: -150px;
  z-index: 1000;
  display: none;
  float: right;
  min-width: 350px;
  padding: 0 0;
  margin: 2px 0 0;
  font-size: 14px;
  text-align: left;
  list-style: none;
  background-color: transparent;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175); }

.infoBlock {
  color: #afafaf; }

.mainExplanation {
  background: -moz-linear-gradient(top, rgba(255, 255, 255, 0.86) 0%, rgba(188, 188, 188, 0.74) 100%);
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.86) 0%, rgba(188, 188, 188, 0.74) 100%);
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.86) 0%, rgba(188, 188, 188, 0.74) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dbffffff', endColorstr='#bdbcbcbc',GradientType=0 );
  text-shadow: 0 0 0;
  color: black;
  line-height: 40px;
  padding: 30px;
  border: 5px solid rgba(0, 0, 0, 0.5);
  border-radius: 20px; }
  .mainExplanation ul {
    list-style: disc;
    padding-left: 30px; }
  .mainExplanation p, .mainExplanation li {
    font-size: 30px; }
  .mainExplanation h2 {
    border-bottom: 2px solid #575857;
    margin-top: 50px;
    font-weight: bold; }

#infoModal ul {
  list-style: disc;
  padding-left: 30px; }

#infoModal p, #infoModal li {
  font-size: 20px; }

#infoModal h2 {
  border-bottom: 1px solid #bbb;
  margin-top: 10px;
  font-weight: bold; }

@media all and (max-width: 900px) {
  .dropdown-menu {
    left: 0;
    top: 70px; } }

@media all and (max-width: 700px) {
  .mainExplanation p, .mainExplanation li {
    font-size: 18px; }
  .mainExplanation h1 {
    font-size: 27px; }
  .mainExplanation h2 {
    font-size: 22px; } }

@media all and (max-width: 540px) {
  header h1#logo {
    font-size: 35px; }
    header h1#logo span {
      font-size: 40px; }
  header nav a {
    font-size: 13px; } }

.cardsUsers {
  border: 5px solid;
  box-shadow: 3px -2px 5px 2px black;
  position: relative;
  margin: 10px;
  width: 200px;
  height: 350px;
  padding: 5px 15px;
  transition-timing-function: ease;
  text-shadow: 0px 0px 2px white; }
  .cardsUsers .imgContainer {
    height: 120px;
    width: 100%;
    background-size: cover;
    background-position: center center; }
  .cardsUsers .tankDescription {
    height: 155px;
    overflow: fade(5%);
    overflow: hidden; }
    .cardsUsers .tankDescription p {
      text-align: justify;
      text-justify: inter-word;
      font-size: 12px; }

.humberto {
  background-image: url("/img/humberto.jpg"); }

.cardsUsers .is-trading {
  border-color: blue; }

.cardsUsers {
  transition-property: transform;
  transition-duration: .2s;
  transition-timing-function: ease-in; }

.cardsUsers:hover {
  transform: translateY(-30px); }
