/* =Reset default browser CSS. Based on work by Eric Meyer: http://meyerweb.com/eric/tools/css/reset/index.html
-------------------------------------------------------------- */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  background: transparent;
  border: 0;
  margin: 0;
  padding: 0;
  vertical-align: baseline; }

body {
  line-height: 1; }

h1, h2, h3, h4, h5, h6 {
  clear: both;
  font-weight: normal; }

ol, ul {
  list-style: none; }

blockquote {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

del {
  text-decoration: line-through; }

/* tables still need 'cellspacing="0"' in the markup */
table {
  border-collapse: collapse;
  border-spacing: 0; }

a img {
  border: none; }

/* =Scss Variables
-------------------------------------------------------------- */
/* =Global
-------------------------------------------------------------- */
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  background-color: black;
  color: #E9E2BF;
  text-shadow: 2px 2px 3px black;
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.8; }

/* Headings */
h1, h2, h3, h4, h5, h6 {
  line-height: 1;
  font-weight: 300; }

a {
  text-decoration: none;
  color: #3cb5f9; }

a:hover {
  color: #0793e2; }

/* =Template
-------------------------------------------------------------- */
#wrapper {
  width: 100%;
  margin: 0 auto; }

#main {
  background: -moz-linear-gradient(top, transparent 1px, #111111 600px, #232323 900px, #161616 99%);
  background: -webkit-linear-gradient(top, transparent 1px, #111111 600px, #232323 900px, #161616 99%);
  background: linear-gradient(to bottom, transparent 1px, #111111 600px, #232323 900px, #161616 99%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#161616',GradientType=0 );
  padding-top: 150px;
  min-height: 700px; }

.container {
  width: 80%;
  margin: 0 auto; }

section {
  padding: 20px 0; }

section h1 {
  font-weight: 700;
  margin-bottom: 30px; }

section p {
  margin-bottom: 30px; }

section p:last-child {
  margin-bottom: 0; }

section.color {
  background-color: #3cb5f9;
  color: white; }

/* =Info Bar
-------------------------------------------------------------- */
#info-bar {
  background-color: #3cb5f9; }

#info-bar a {
  color: white;
  font-size: 14px;
  text-transform: uppercase;
  display: inline-block;
  margin: 0;
  padding: 10px; }

#info-bar a:hover {
  background-color: #0793e2; }

#info-bar span.all-tutorials,
#info-bar span.back-to-tutorial {
  display: block;
  width: 50%; }

#info-bar span.all-tutorials {
  float: left;
  text-align: left; }

#info-bar span.back-to-tutorial {
  float: right;
  text-align: right; }

/* =Header
-------------------------------------------------------------- */
header {
  width: 100%;
  height: 100px;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  background-color: black;
  -webkit-transition: height 0.3s;
  -moz-transition: height 0.3s;
  -ms-transition: height 0.3s;
  -o-transition: height 0.3s;
  transition: height 0.3s;
  border-bottom: 3px solid red; }

header h1#logo {
  display: inline-block;
  height: 100px;
  line-height: 100px;
  float: left;
  font-family: "Oswald", sans-serif;
  font-size: 50px;
  color: white;
  font-weight: 400;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s; }
  header h1#logo span {
    color: red;
    font-size: 60px;
    font-style: italic;
    font-family: "Black Ops One"; }
  header h1#logo a {
    color: white; }
  header h1#logo a:hover {
    color: white;
    text-decoration: none; }

header nav {
  display: inline-block;
  float: right; }

header nav a {
  line-height: 150px;
  margin-left: 20px;
  color: #E9E2BF;
  font-weight: 700;
  font-size: 18px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s; }

header nav a:hover {
  color: white; }

header.smaller {
  height: 75px; }

header.smaller h1#logo {
  width: 150px;
  height: 75px;
  line-height: 75px;
  font-size: 30px; }
  header.smaller h1#logo span {
    font-size: 30px; }

header.smaller nav a {
  line-height: 75px; }

/* =Extras
-------------------------------------------------------------- */
.clearfix:after {
  visibility: hidden;
  display: block;
  content: "";
  clear: both;
  height: 0; }

/* =Media Queries
-------------------------------------------------------------- */
@media all and (max-width: 660px) {
  /* =Header
  -------------------------------------------------------------- */
  header h1#logo {
    display: block;
    float: none;
    margin: 0 auto;
    height: 100px;
    line-height: 100px;
    text-align: center; }
  header nav {
    display: block;
    float: none;
    height: 50px;
    text-align: center;
    margin: 0 auto; }
  header nav a {
    line-height: 50px;
    margin: 0 10px; }
  header.smaller {
    height: 75px; }
  header.smaller h1#logo {
    height: 40px;
    line-height: 40px;
    font-size: 30px; }
  header.smaller nav {
    height: 35px; }
  header.smaller nav a {
    line-height: 35px; } }

@media all and (max-width: 600px) {
  .container {
    width: 100%; }
  #info-bar a {
    display: block; }
  #info-bar span.all-tutorials,
  #info-bar span.back-to-tutorial {
    width: 100%; }
  #info-bar span.all-tutorials,
  #info-bar span.back-to-tutorial {
    float: none;
    text-align: center; }
  #info-bar span.all-tutorials {
    border-bottom: solid 1px #0793e2; } }

.exampleCard {
  height: 200px;
  width: auto;
  display: block;
  margin: auto; }

.cards {
  border: 5px solid;
  box-shadow: 3px -2px 5px 2px black;
  position: relative;
  margin: 10px;
  margin-bottom: -200px;
  width: 200px;
  height: 350px;
  padding: 5px 15px;
  transition-timing-function: ease;
  text-shadow: 0px 0px 2px white; }
  .cards .imgContainer {
    height: 120px;
    width: 100%;
    background-image: url("../img/Tiger-I.jpg");
    background-size: cover;
    background-position: center center; }
  .cards .tankDescription {
    height: 155px;
    overflow: fade(5%);
    overflow: hidden; }
    .cards .tankDescription p {
      text-align: justify;
      text-justify: inter-word;
      font-size: 12px; }

.multiline-ellipsis {
  display: block;
  display: -webkit-box;
  max-width: 400px;
  height: 109.2px;
  margin: 0 auto;
  font-size: 26px;
  line-height: 1.4;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis; }

.cards {
  transition-property: transform;
  transition-duration: .2s;
  transition-timing-function: ease-in; }

.cards:hover {
  transform: translateY(-65px); }

.tradingPark {
  padding-bottom: 300px; }

#backgroundTank {
  background-image: url("../img/background.jpg");
  background-repeat: no-repeat;
  min-height: 700px; }

.rowsOfCards {
  margin-top: 100px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: left; }

input {
  color: black;
  width: 100%; }

@media all and (max-width: 800px) {
  .rowsOfCards {
    justify-content: center; } }

.signInPopUpContainer {
  width: 100%;
  position: fixed;
  top: 30%; }
  .signInPopUpContainer .signInPopUp {
    text-shadow: 1px 1px 3px gray;
    border-radius: 5px;
    background-color: black;
    padding: 10px 20px;
    border: 3px solid red; }
    .signInPopUpContainer .signInPopUp .control-group {
      padding: 10px; }

.carousel-inner.onebyone-carosel {
  margin: auto;
  width: 100%; }

.onebyone-carosel .active.left {
  left: -24%; }

.onebyone-carosel .active.right {
  left: 24%;
  background: yellow; }

.onebyone-carosel .next {
  left: 25%; }

.onebyone-carosel .prev {
  left: -25%; }

.carouselContainer {
  padding-top: 30px;
  padding-bottom: 30px; }
  .carouselContainer h2 {
    font-weight: bold; }

.cardsCarrousel {
  border: 5px solid;
  box-shadow: 3px -2px 5px 2px black;
  margin: 10px;
  width: 200px;
  height: 350px; }
  .cardsCarrousel .imgContainer {
    height: 120px;
    width: 100%;
    background-image: url("../img/Tiger-I.jpg");
    background-size: cover;
    background-position: center center; }
  .cardsCarrousel .tankDescription {
    height: 155px;
    overflow: fade(5%);
    overflow: hidden; }
    .cardsCarrousel .tankDescription p {
      text-align: justify;
      text-justify: inter-word;
      font-size: 12px; }
