<!-- <section>
    <div class="container">
        <h1>Your Garage</h1>
        <div class="row">
            <div class="col-md-8">
                <p>Cupcake ipsum dolor sit amet lollipop. Macaroon candy cotton candy bear claw macaroon carrot cake pastry icing dessert. Cupcake pastry tart sesame snaps lollipop donut pie. Cookie apple pie toffee lemon drops jelly beans cheesecake sweet roll. Jelly-o soufflé donut candy canes wafer dragée sweet cheesecake. Macaroon caramels pie cookie gummi bears. Ice cream jelly-o toffee cookie gingerbread cookie. Soufflé fruitcake jelly-o jelly chupa chups jelly beans. Dragée marzipan pastry macaroon oat cake muffin soufflé topping liquorice. Jelly-o chocolate cake lollipop.</p>
            </div>
        </div>
    </div>
</section> -->
<!-- /description -->
<section class="tradingPark">
    <div class="container carouselContainer">
        <h1>Garage <span data-toggle="modal" data-target="#infoModal" class="glyphiconInfo glyphicon glyphicon-info-sign" aria-hidden="true"></span></h1>
        
        <!-- Modal -->
        <div id="infoModal" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title">THE GARAGE</h1>
                    </div>
                    <div class="modal-body">
                        <p>The garage will display the cards you own and by clicking on them they will be send to the Trading Park.</p>
                        <p>Careful!! Ones you send a card to the Trading Park you aren´t going to be able to retrieve it, so think carefully if you really want to send it.</p>
                        <p>The cards on the trading park will be highlighted with a blue border.</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="rowsOfCards">
            <div class="cardsUsers thumbnail" ng-style="{{ifCardOnTrade(userCard.trading)}}" ng-repeat="userCard in userCards" ng-click="pushToTrade(userCard._id)">
                <div class="caption">
                    <h3>{{userCard.card.name}}</h3>
                </div>
                <div class="imgContainer" ng-style="{'background-image':'url({{userCard.card.img}})'}">
                </div>
                <div class="caption tankDescription multiline-ellipsis">
                    <p>{{userCard.card.description}}</p>
                </div>
            </div>
        </div>
</section>