<section>
    <div class="container">
        <h1>This is your Garage</h1>
        <div class="row">
            <div class="col-md-8">
                <p>Cupcake ipsum dolor sit amet lollipop. Macaroon candy cotton candy bear claw macaroon carrot cake pastry icing dessert. Cupcake pastry tart sesame snaps lollipop donut pie. Cookie apple pie toffee lemon drops jelly beans cheesecake sweet roll. Jelly-o soufflé donut candy canes wafer dragée sweet cheesecake. Macaroon caramels pie cookie gummi bears. Ice cream jelly-o toffee cookie gingerbread cookie. Soufflé fruitcake jelly-o jelly chupa chups jelly beans. Dragée marzipan pastry macaroon oat cake muffin soufflé topping liquorice. Jelly-o chocolate cake lollipop.</p>
            </div>
        </div>
    </div>
</section>
<!-- /description -->
<section class="tradingPark">
    <div class="container carouselContainer">
        <h2>Your Tank Collection</h2></div>
    <div class="container carouselContainer">
    <div class="rowsOfCards">
        <div class="cardsUsers thumbnail" ng-repeat="userCard in userCards" ng-click="pushToTrade(userCard._id)">
            <div class="caption">
                <h3>{{userCard.card.name}}</h3>
            </div>
            <div class="imgContainer" ng-style="{'background-image':'url({{userCard.card.img}})'}">
            </div>
            <div class="caption tankDescription multiline-ellipsis">
                <p>{{userCard.card.description}}</p>
            </div>
        </div>
    </div>     
</section>