.carousel-inner.onebyone-carosel { margin: auto; width: 100%; }
.onebyone-carosel .active.left { left: -24%; }
.onebyone-carosel .active.right { left: 24%; }
.onebyone-carosel .next { left: 25%; }
.onebyone-carosel .prev { left: -25%; }

.carouselContainer{
	padding-top: 30px;
	padding-bottom: 30px;
	h2{
		font-weight: bold;
	}
}

.cardsCarrousel {
    border: 5px solid;
    box-shadow: 3px -2px 5px 2px black;
    // position: relative;
    margin: 10px;
    // margin-bottom: -250px;
    width: 200px;
    height: 350px;
    // padding: 5px 15px;
    transition-timing-function: ease;
    text-shadow: 0px 0px 2px white;
    .imgContainer {
        height: 120px;
        width: 100%;
        background-image: url("../img/Tiger-I.jpg");
        background-size: cover;
        background-position: center center;
    }
    .tankDescription {
        height: 155px;
        overflow: fade(5%);
        overflow: hidden;
        p {
            text-align: justify;
            text-justify: inter-word;
            font-size: 12px;
        }
    }
}

.cardsCarrousel {
  transition-property: transform;
  transition-duration: .2s;
  transition-timing-function: ease-in;
}

.cardsCarrousel:hover {
  transform: translateY(-65px);
}