$textColor: #E9E2BF;

span.glyphiconInfo{
    font-size: 15px
    }
span.glyphiconInfo:hover{
    font-size: 25px
    }


.exampleCard {
    height: 200px;
    width: auto;
    display: block;
    margin: auto;
}

.cards {
    border: 5px solid;
    box-shadow: 3px -2px 5px 2px black;
    position: relative;
    margin: 10px;
    margin-bottom: -200px;
    width: 200px;
    height: 350px;
    padding: 5px 15px;
    transition-timing-function: ease;
    text-shadow: 0px 0px 2px white;
    .imgContainer {
        height: 120px;
        width: 100%;
        background-size: cover;
        background-position: center center;
    }
    .tankDescription {
        height: 155px;
        overflow: fade(5%);
        overflow: hidden;
        p {
            text-align: justify;
            text-justify: inter-word;
            font-size: 12px;
        }
    }
}

#infoModal .modal-content{
    background: rgb(76,76,76);
background: -moz-linear-gradient(top, rgba(76,76,76,1) 0%, rgba(89,89,89,1) 12%, rgba(102,102,102,1) 25%, rgba(71,71,71,1) 39%, rgba(44,44,44,1) 50%, rgba(0,0,0,1) 51%, rgba(17,17,17,1) 60%, rgba(43,43,43,1) 76%, rgba(28,28,28,1) 91%, rgba(19,19,19,1) 100%);
background: -webkit-linear-gradient(top, rgba(76,76,76,1) 0%,rgba(89,89,89,1) 12%,rgba(102,102,102,1) 25%,rgba(71,71,71,1) 39%,rgba(44,44,44,1) 50%,rgba(0,0,0,1) 51%,rgba(17,17,17,1) 60%,rgba(43,43,43,1) 76%,rgba(28,28,28,1) 91%,rgba(19,19,19,1) 100%);
background: linear-gradient(to bottom, rgba(76,76,76,1) 0%,rgba(89,89,89,1) 12%,rgba(102,102,102,1) 25%,rgba(71,71,71,1) 39%,rgba(44,44,44,1) 50%,rgba(0,0,0,1) 51%,rgba(17,17,17,1) 60%,rgba(43,43,43,1) 76%,rgba(28,28,28,1) 91%,rgba(19,19,19,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#131313',GradientType=0 );
}

.multiline-ellipsis {
    display: block;
    display: -webkit-box;
    max-width: 400px;
    height: 109.2px;
    margin: 0 auto;
    font-size: 26px;
    line-height: 1.4;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.cards {
  transition-property: transform;
  transition-duration: .2s;
  transition-timing-function: ease-in;
}

.cards:hover {
  transform: translateY(-65px);
}

.tradingPark {
    padding-bottom: 300px
}

#backgroundTank {
    background-image: url("../img/background.jpg");
    background-repeat: no-repeat;
    min-height: 700px;
}


.rowsOfCards {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: left;
}

input{
    color: black;
    width: 100%;
}

@media all and (max-width: 800px) {
    .rowsOfCards{
        justify-content: center;
    }
}

// .signInPopUpContainer{
//     width: 100%;
//     position: fixed;
//     top: 30%;
//     // display: none;
    .signInPopUp{
        text-shadow: 1px 1px 3px gray;
        border-radius: 5px;
        background-color: RGBa(0, 0, 0, 0.5);
        padding: 10px 20px;
        border: 3px solid red;
        .control-group{
            padding:10px
        }
}//}

.logInDropdownButton{
    background-color: transparent;
    border: transparent;
    .logInDropdown{
        background-color: transparent;    }
}

.dropdown-menu {
    position: absolute;
    top: 100px;
    left: -150px;
    z-index: 1000;
    display: none;
    float: right;
    min-width: 350px;
    padding: 0 0;
    margin: 2px 0 0;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: transparent;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}

@media all and (max-width: 900px) {
    .dropdown-menu {
        left: 0;
        top: 70px;

}}

.infoBlock{
    color: #afafaf;
}